   .container-fluid {
       padding: 15px 30px;
   }
   
   mat-toolbar {
       background-color: #800000;
       color: #ffffff;
   }
   
   .hamburger-button {
       background: transparent;
       color: #ffffff;
       border: 0px;
   }
   
   .title {
       font-size: 20px;
       padding-bottom: 5px;
       padding-left: 10px;
   }
   
   .mat-drawer {
       width: 170px;
   }