<mat-sidenav-container>
    <mat-sidenav #sidenav>
        <mat-nav-list>
            <a *ngFor="let route of routes" mat-list-item [routerLink]="route.path" (click)="sidenav.toggle()"> {{route.label}}</a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <div style="height: 100vh;">
            <mat-toolbar>
                <button mat-icon-button aria-label="Menu" (click)="sidenav.open()" class="hamburger-button">
          <mat-icon>menu</mat-icon>
          
        </button>
                <h3 class="title">Learning Dashboard</h3>
            </mat-toolbar>
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>