<div class="container">
    <div class="row">
        <div class="col-md-8 form-r">
            <form #myForm="ngForm">
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" class="form-control" name="name" placeholder="Enter Name" [(ngModel)]="userObj.name">
                </div>
                <div class="form-group">
                    <label for="mobile">Mobile Number</label>
                    <input type="text" class="form-control" name="mobile" placeholder="Enter Mobile Number" [(ngModel)]="userObj.mobile">
                </div>
                <div class="form-group">
                    <label for="email">Email address</label>
                    <input type="text" class="form-control" name="email" placeholder="Enter email" [(ngModel)]="userObj.email">
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" name="password" placeholder="Password" [(ngModel)]="userObj.password">
                </div>
                <button type="button" class="btn btn-primary" (click)="addUser(myForm.value)" *ngIf="!isEdit">Submit</button>
                <button type="button" class="btn btn-primary" *ngIf="isEdit" (click)="updateUser()">Update</button>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="bs-example" data-example-id="">
            <table class="table user-table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Mobile Number</th>
                        <th>Email Address</th>
                        <th>Password</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let user of allUsers">
                        <td>{{user.name}}</td>
                        <td>{{user.mobile}}</td>
                        <td>{{user.email}}</td>
                        <td>{{user.password}}</td>
                        <td><button (click)="editUser(user)" class="btn btn-success btn-sm">Edit</button></td>
                        <td><button (click)="deleteUser(user)" class="btn btn-warning btn-sm">Delete</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>