.form-group {
    padding: 20px 0px;
}

.form-r {
    display: block;
    margin: auto;
}

.btn-primary {
    border-radius: 0;
    background-color: #800000;
    border: 0;
    display: inline-block;
    margin-right: 20px;
    padding: 10px 40px;
}

.user-table {
    margin: 50px 0px;
    th {
        background: #800000;
        color: #fff;
        font-weight: normal;
        font-size: 16px;
        text-transform: uppercase;
        border: 0;
    }
}