.container-fluid {
    padding: 15px 30px;
}

table.mat-table {
    width: 100%;
}

.search-field {
    width: 100%;
    position: relative;
    .search-icon {
        position: absolute;
        right: 0;
    }
}

.filter-section {
    text-align: right;
    padding-top: 8px;
    .filter-field {
        margin: 0px 5px;
    }
}

.filter {
    background: #800000;
    padding: 10px;
    border-radius: 50%;
    color: #fff;
}

.nav-link {
    color: rgba(0, 0, 0, .87);
    ;
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    color: #000000;
    border-bottom: 2px solid #800000;
    background: transparent;
    border-radius: 0px;
}

.mat-elevation-z8 {
    padding: 0;
}

tr.mat-header-row {
    background-color: #800000;
    color: #fff;
}

::ng-deep .mat-sort-header-container {
    font-size: 15px;
    font-weight: 400;
    text-transform: uppercase;
    color: #ffffff !important;
}

::ng-deep .mat-sort-header-arrow {
    color: #ffffff;
}