<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="row">
                <div class="col-sm-7">
                    <mat-form-field appearance="standard" class="search-field">
                        <mat-label>Search</mat-label>
                        <input matInput (keyup)="applyFilter($event)" placeholder="Search  by Name, Mobile no." #input>
                        <i class="material-icons search-icon">search</i>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="example-container mat-elevation-z8">
                    <div class="example-loading-shade" *ngIf="isLoadingResults || isRateLimitReached">
                        <mat-progress-bar mode="indeterminate" *ngIf="isLoadingResults"></mat-progress-bar>
                        <div class="example-rate-limit-reached" *ngIf="isRateLimitReached">
                            API rate limit has been reached. It will be reset in one minute.
                        </div>
                    </div>

                    <div class="example-table-container">

                        <table mat-table [dataSource]="dataSource" class="example-table" matSort matSortActive="name" matSortDisableClear matSortDirection="desc">
                            <!-- Name Column -->
                            <ng-container matColumnDef="firstName">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
                                <td mat-cell *matCellDef="let row"> {{row.firstName}} </td>
                            </ng-container>
                            <!-- Email ID Column -->
                            <ng-container matColumnDef="email">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>Email ID </th>
                                <td mat-cell *matCellDef="let row"> {{row.email}} </td>
                            </ng-container>

                            <!-- Mobile number Column -->
                            <ng-container matColumnDef="contactNumber">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Mobile Number </th>
                                <td mat-cell *matCellDef="let row"> {{row.contactNumber}}</td>
                            </ng-container>

                            <!-- Age Column -->
                            <ng-container matColumnDef="age">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Age </th>
                                <td mat-cell *matCellDef="let row"> {{row.age}}</td>
                            </ng-container>

                            <!-- Age Column -->
                            <ng-container matColumnDef="dob">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Date of Birth </th>
                                <td mat-cell *matCellDef="let row"> {{row.dob}}</td>
                            </ng-container>

                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

                            <!-- Row shown when there is no matching data. -->
                            <tr class="mat-row" *matNoDataRow>
                                <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
                            </tr>
                        </table>
                    </div>


                    <mat-paginator [length]="length" [pageSize]="pageSize" (page)="pageEvent = $event" aria-label="Select page">
                    </mat-paginator>
                </div>
            </div>

        </div>

    </div>
</div>